
h1 {
  font-weight: $heavy_font_weight;
  font-size: 2.5em;
  margin: .25em 0;
  color: $title-color;
}

/* 
 *
 *base styling 
 */
body {
  @extend %standard_font;
  background-color: $body-background-color;
}

input {
  margin: 2px;
  color: inherit;
}

li {
  border: 1px solid;

  :not(:last-child) {
    margin-bottom: -1px;
  }

  :last-child {
    margin-bottom: 0px;
  }
}

%arrow_box {
  border: 0px solid;

  &:after, &:before {
    bottom: 100%;
    right: 0%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    border-color: transparent;
    border-bottom-color: inherit;
    border-width: 10px;
  }
}

@mixin arrow_box ($border-color) {
  @extend %arrow_box;
  border-color: $border-color;
}


%left-right-align {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
/*
 *
 * end base styling
 */

