@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext');

body {
  font-family: 'Source Sans Pro', san-serif;
  font-weight: 400;
}

/*
 * non-generic
 */


.color-primary-0 { color: #592A71 }	/* Main Primary color */
.color-primary-1 { color: #553A63 }
.color-primary-2 { color: #3F035E }
.color-primary-3 { color: #5A127F }
.color-primary-4 { color: #83718C }

.header-background {
  background-color: #3F035E;
}

.header-secondary-color {
  background-color: #592A71;
}

.body-background {
  background-color: #444; 
}

.primary-color {
  color: #83718C;
}

.title-color {
  color: #83718C;
}



h1 {
  font-weight: 600;
  font-size: 2.5em;
}

.header {
  box-shadow: 2px 3px 3px 0px #7d5d72;
}

.arrow_box {
        border-color: #bbbaaa;
}

nav ul {
  background-color: #e4e3d4;
  color: #000;
}

.song-title {
  font-weight: 600;
}

