
li
  list-style: none
  display: block
  border: 1px solid
  margin: 1px

.song-row
  white-space: nowrap
  display: flex
  flex-wrap: nowrap
  justify-content: space-between

.song-title
  font-weight: bold

.song-title, .song-genre
  overflow: hidden
  text-overflow: ellipsis
  display: inline-block
  flex-shrink: 0
  margin-right: 1em


.song-artist, .song-album
  float: right
  overflow: hidden
  text-overflow: ellipsis
  flex-shrink: 10

ul
  list-style-type: none
  padding: 0

.header
  position: fixed
  top: 0
  width: 100%
  background-color: rgba(255,255,255,1)

.header-placeholder
  height: 100px

.filter-span
  white-space: nowrap
  display: inline-block

.filter-box
  border: 1px solid
  width: 170px
  padding-right: 18px

.filter-icon
  border: none
  position: relative
  left: -16px


.player
  display: inline-block
  transform: scale(1.2)
  margin-left: 22px

h1
  margin: .1em 0
