/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');

$normal_font_weight: 400;
$heavy_font_weight: 600;

%standard_font {
  font-family: 'Source Sans Pro', 'Roboto', 'Roboto Condensed', 'Montserrat', san-serif;
  font-weight: $normal_font_weight;
  font-size: 1em;
}


